# lab1

data = [ "서울","부산","대구","인천"   ] 
 
위 리스트의 마지막에 "천안" 을 추가하고, 출력하세요. 
위 리스트의 2번째에 "경기" 을 추가하고, 출력하세요.   
위 리스트의 첫번째 요소를 삭제하고, 출력하세요. . 
위 리스트에서 "대구"를 삭제하고, 출력하세요. 
위 리스트를 내림순(큰값이 먼저)으로 정렬하고, 출력하세요.  
위 리스트를 오름차순(작은값이 먼저) 정렬하고, 출력하세요.  
위 리스트에서 "경기"이라는 문자열은 몇번째 위치하는가?

In [14]:
data = ["서울","부산","대구","인천"]
data.append("천안")
print(data)

data.insert(1, "경기")
print(data)

del data[0]
print(data)

data.remove("대구")
print(data)

data.sort(reverse=True)
print(data)

data.sort()
print(data)

print(data.index("경기"))

['서울', '부산', '대구', '인천', '천안']
['서울', '경기', '부산', '대구', '인천', '천안']
['경기', '부산', '대구', '인천', '천안']
['경기', '부산', '인천', '천안']
['천안', '인천', '부산', '경기']
['경기', '부산', '인천', '천안']
0

# lab2 - 1

game = {"가위":1,
        "바위":2,
        "보"  : 3 }  

위와 같은 딕셔너리가 있습니다. 
사용자로 부터 "가위, 바위,  보" 중 하나를 입력받고, 그 값을 key로 
딕셔너리에서 value를 조회하여 출력합니다.

In [20]:
game = {"가위":1,
        "바위":2,
        "보"  : 3 }

user = input("'가위, 바위,  보' 중 하나를 입력하세요:")
print(game[user])

'가위, 바위,  보' 중 하나를 입력하세요: 보

3

# lab2 - 2

사용자로 부터 이름, 주소를 입력받고, 
user라는 딕셔너리에 저장합니다. 
예를 들어, 이름을 홍길동 입력, 주소를 서울 입력했으면 
user = {"name" : "홍길동", "address" : "서울" } 
의 딕셔너리를 만들고, 그 정보를 출력합니다.

In [21]:
name = input("이름을 입력하세요:")
address = input("주소를 입력하세요:")

user = {"name":name,
        "address":address}

print(user)

이름을 입력하세요: 이금희
주소를 입력하세요: 관악구

{'name': '이금희', 'address': '관악구'}

# practice 1

구구단 출력 (2~9단까지 출력)

In [13]:
# 방법1
for i in range(2,10):
    print("[%d 단]" %i)
    for j in range(2,10):
        print("%d * %d = %d" %(i, j, i*j))
    print("==========")

# 방법2
for i in range(2,10):
    print(f"[{i}단]")
    for j in range(2,10):
        print(f"{i} * {j} = {i*j}")
    print("==========")

[2 단]
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
==========
[3 단]
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
==========
[4 단]
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
==========
[5 단]
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
==========
[6 단]
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
==========
[7 단]
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
==========
[8 단]
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
==========
[9 단]
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
==========
[2단]
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
==========
[3단]
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
==========
[4단]
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
==========
[5단]
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
==========
[6단]
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
==========
[7단]
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
==========
[8단]
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
==========
[9단]
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
==========

# practice 2

숫자 하나 입력 받음, 그 숫자의 구구단 출력

In [21]:
def gugudan(n):
    print(f"구구단 {n}단 출력")

    for i in range(1,10):
        print(f"{n} * {i} = {n*i}")

n = input("몇 단을 출력하시겠습니까?")
gugudan(int(n))

몇 단을 출력하시겠습니까? 3

구구단 3단 출력
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

# practice 3

>>다음과 같은 클래스를 생성하세요

클래스이름 : Car
동작(함수) : 1) run()   -   "Car달림 " 출력
--------------------------------------------
클래스이름 : Sonata
상위클래스 : Car
동작(함수) : 1) run()   -   "Sonata 달림 " 출력
--------------------------------------------
클래스이름 : Genesis
상위클래스 : Car
동작(함수) : 1) run()   -   "Genesis 달림 " 출력
--------------------------------------------

>>다음과 같은 함수를 생성하세요
함수이름 : drive(c)
처리내용 : c.run()


--------------------------------------------
>>다음과 같은 코드를 작성하여 실행하세요

c1 = Car()
c2 = Sonata()
c3 = Genesis()
drive(c1)
drive(c2)
drive(c3)

In [34]:
class Car():
    def run(self):
        print("Car달림")

class Sonata(Car):
    def run(self):
        print("Sonata 달림")

class Genesis(Car):
    def run(self):
        print("Genesis 달림")

# 동적 바인딩, 객체에 기능을 바인딩함
def drive(c):
    c.run()

In [35]:
c1 = Car()
c2 = Sonata()
c3 = Genesis()
drive(c1)
drive(c2)
drive(c3)

Car달림
Sonata 달림
Genesis 달림

# lab3


price = { "피자" : 10000 ,  "김치볶음밥" : 5000, "짜장면" : 4500, "김밥" : 2000 }
order = { "피자" : 3 ,  "김치볶음밥" : 2,  "김밥" : 5 }  

위와 같이 제품의 가격 정보가 있는 딕셔너리와
                 주문 정보가 있는 딕셔너리가 있다.  
총 주문 가격을 출력하세요. 

 
주문한 모든 제품 명을 출력하세요. 
주문한 음식은 총 몇인분 인지 출력하세요. 

주문한 음식 중에 짜장면이 있는지 출력하세요.

In [43]:
price = { "피자" : 10000 ,  "김치볶음밥" : 5000, "짜장면" : 4500, "김밥" : 2000 }
order = { "피자" : 3 ,  "김치볶음밥" : 2,  "김밥" : 5 } 

# 총 주문 가격
sum = 0
for i in price:
    sum += price[i];
print(f"총 주문 가격: {sum}")

# 주문한 모든 제품 명을 출력
for i in order:
    print(i)

# 총 몇 인분 주문했는지 출력
num = 0
for i in order:
    num += order[i];
print(f"주문 개수: {num}")

# 주문목록에 짜장면이 있는지 출력
if "짜장면" in order:
    print("주문목록에 짜장면이 있습니다")
else:
    print("주문목록에 짜장면이 없습니다")

총 주문 가격: 21500
피자
김치볶음밥
김밥
주문 개수: 10
주문목록에 짜장면이 없습니다

# lab4


1)
data = [10, 100, 70,99 ,22 ] 
for 문을 이용하여 data 합과 평균을 구하세요. 


2)
data = [10, 333, 6 ,99 ,22 ] 
for 문을 이용하여 data 합을 구하세요. 
단, 3의 배수인 숫자만 합을 구합니다.

 
3)
score = ["홍길동",  {  "tel" : "111-2222", "addr": "서울"} , 
             "김영희",  {  "tel" : "222-3333",  "addr":"부산" }  ] 
for 문을 이용하여 
각 사람의 이름과 연락처를 출력하세요.

In [46]:
# 1)
data = [10, 100, 70,99 ,22 ]
sum = 0;

for i in data:
    sum += i

print(f"합: {sum}, 평균: {sum/len(data)}")

합: 301, 평균: 60.2

In [47]:
#2)
data = [10, 333, 6 ,99 ,22 ]
sum = 0

for i in data:
    if i%3 == 0:
        sum += i

print(f"합: {sum}")

합: 438

In [65]:
#3)
score = ["홍길동",  {  "tel" : "111-2222", "addr": "서울"} , 
             "김영희",  {  "tel" : "222-3333",  "addr":"부산" }  ]

for i in range(0,len(score),2):
    print(f"{score[i]}의 연락처: {score[i+1]['tel']}")

홍길동의 연락처: 111-2222
김영희의 연락처: 222-3333

# lab5

<클래스 만들기 문제 >   
=========================================== 
클래스이름 : calculator
속성(변수) : 결과 저장할 변수 result. 초기값 0.0 
             계산기 이름을 저장할 name.    
  
동작(함수) : 
  1) 함수이름 : add   
     매개인자 몇 개 든 다 받을수 있다.      
     처리 내용: 계산기객체의 result값을 매개인자로 더한후,result에저장
  2) 함수이름 : subtract 
     매개인자 한 개       
     처리 내용: 계산기객체의 result값을 매개인자로 뺀 후, result에저장 
  3) 함수이름 : multiply
     매개인자 한 개       
     처리 내용: 계산기객체의 result값을 매개인자로 곱한후,result에저장
  4) 함수이름 : divide
     매개인자 한 개       
     처리 내용: 계산기객체의 result값을 매개인자로 나누어 result에저장

name이 "똑똑한계산기"인 calculator 객체를 하나 생성한다. 
계산기 객체의 함수들을 이용하여, 5를 더하고 10을 곱하고 2를 빼고, 
3으로 나눈 후, 
결과를 출력하세요.

In [75]:
class calculator:
    result = 0
    
    def __init__ (self, name=""):
        self.name = name

    def add(self, *num):
        for i in num:
            self.result += i
        
    def subtract(self, num):
        self.result -= num
        
    def multiply(self, rnum):
        self.result *= num
        
    def divide(self, num):
        self.result /= num

cal = calculator("똑똑한계산기")
cal.add(5)
cal.multiply(10)
cal.subtract(2)

print(cal.result)

48