### 관계시각화

#### 산점도 그래프

In [ ]:
import matplotlib
from matplotlib import font_manager,rc
import matplotlib.pyplot as plt
%matplotlib inline

#  #한글 폰트 등록
#font_location = "c:/Windows/fonts/malgun.ttf" # Windows
font_location = "/System/Library/fonts/AppleSDGothicNeo.ttc"  # Mac OS
font_name = font_manager.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
# 데이터 준비
import pandas as pd

students = pd.#TODO("students.csv")
students.#TODO

   english  math class
0      100   999     1
1       90    90     1
2       80    80     1
3       70    20     1
4       20    90     2

In [ ]:
plt.#TODO( students["english"], students["math"], 'bo')
plt.xlabel('english')
plt.ylabel('math')
plt.#TODO(" 영어접수와 수학점수 산점도 그래프")
plt.show()

In [ ]:
import seaborn as sns
# 데이터 준비
iris = sns.#TODO("iris")  # seaborn 팩키지의 샘플 데이터
iris.head()

In [ ]:
plt.#TODO( #TODO["sepal_width"], iris["petal_width"], '^')
plt.xlabel('sepal_width')
plt.ylabel('petal_width')
plt.title("붓꽃의 sepal_width와 petal_width 산점도 그래프")
plt.#TODO()

In [ ]:
sns.#TODO(iris)
plt.#TODO()

In [ ]:
sns.#TODO(#TODO, #TODO="species")
plt.show()

In [ ]:
sns.#TODO(#TODO, #TODO=["sepal_width", "sepal_length"])
plt.#TODO()

In [ ]:
sns.#TODO(#TODO, #TODO=["sepal_width", "sepal_length"],
             #TODO=["petal_width", "petal_length"])
plt.show()

### 피어슨 상관계수

In [ ]:
students.loc[:, ("english" ,"math" ) ].#TODO(#TODO='pearson')

In [ ]:
sns.#TODO(data = #TODO, annot=True,
            fmt = '.2f', linewidths=.5, #TODO='Blues')

In [ ]:
sns.#TODO(data = #TODO, annot=True,
            fmt = '.2f', linewidths=.5, cmap='Blues')