# 데이터 타입과 변수

### [ 변수 ]

#### ○ 변수이름 규칙
  • 변수이름의 첫글자는 반드시 영문자 또는 언더스코어( _ ) 어이야 한다. 숫자나 특수문자로 시작하면 안된다.  
  • 영문자의 대소문자를 구분한다.   
  • 예약어는 사용할 수 없다.

In [ ]:
#1) 변수이름은 score  변수값은 10
score = 10

#2) 변수이름은 qty  변수값은 200
qty = 200

#3) 변수이름은 name 변수값은 “Leeji”  또는 ‘Leeji’
name = "Leeji"

SyntaxError: invalid character in identifier (<ipython-input-1-6787bb99a1f7>, line 8)

#### ○ 문장 규칙
기본적으로 한 줄이 한 문장.   
한 줄에 여러 문장 작성 시 세미콜론( ; )으로 한 문장의 끝을 표시

#### ○ 블록 규칙
들여쓰기로 결정됨

### [ 연산자 ]

산술연산자

In [ ]:
a = 20 #대입연산자
b = 15 #대입연산자
result = a + b ; print( result )   # 덧셈연산자
result = a - b ; print( result )   # 뺄셈연산자
result = a * b ; print( result )   # 곱셈연산자
result = a / b ; print( result )   # 나눗셈연산자
result = a // b ; print( result )  # 나누기(몫)연산자
result = a % b ; print( result )   # 나눈 나머지연산자
result = a ** 2 ; print( result )  # 제곱연산자

35
5
300
1.3333333333333333
1
5
400

비교연산자

In [ ]:
data = 50
score = 100
print( data < score )
print( data <= score )
print( data > score )
print( data >= score )
print( data == score ) # 같으면 True
print( data != score ) # 다르면 True

True
True
False
False
False
True

논리연산자

In [ ]:
print( score >= 0  and  score <= 100 )  # 양쪽 모두 참인 경우 True
print( 0  <=   score <= 100 )

print( score >= 0  or  score <= 100 )   # 양쪽 중 하나라도 참인 경우 True
print( not score >= 0 )                 # 참이면 False ,거짓이면 True

True
True
True
False

### [ 데이터타입 ]

#### ○ 숫자 데이터타입
정수형, 실수형

In [1]:
i = 10  # 정수형
type(i) # 데이터 타입 확인

int

In [4]:
j = 10.5 # 실수형
type(j)  # 데이터 타입 확인

float

#### ○ 문자 데이터타입

In [5]:
# 문자열은 " "  또는 ' '로 감싼다.
title ="여행의 이유"
author = '김영하'

print( type(title) ) # 데이터 타입 확인

# 여러줄 문자열
message="""여행-일상-여행의 고리를 잇는,
아홉 개의 매혹적인 이야기"""

print(title, " :: " , author)
print(message )

# 문자열 길이
print( len(title)  )

<class 'str'>
여행의 이유  ::  김영하
여행-일상-여행의 고리를 잇는,
아홉 개의 매혹적인 이야기
test
test
string
test
6

#### ○ 문자 인덱싱

In [6]:
# 인덱스는 0부터 시작.

print(title[0],title[1],title[2],title[3],title[4],title[5] )

여 행 의   이 유
행-일상-여행의 고리를 잇는,
아홉

#### ○ 문자 슬라이싱

In [ ]:
print(title[:])  # 처음부터 끝까지
print(title[1:]) # 1인덱스부터 끝까지
print(title[2:]) # 2인덱스부터 끝까지
print(title[3:]) # 3인덱스부터 끝까지
print(title[4:]) # 4인덱스부터 끝까지

여행의 이유
행의 이유
의 이유
 이유
이유

In [ ]:
print(title[:6])  # 처음부터 6인덱스 바로 앞까지
print(title[:5])  # 처음부터 5인덱스 바로 앞까지
print(title[:-1]) # 처음부터 마지막 글자 바로 앞까지
print(title[:-2]) # 처음부터 마지막 글자 두개앞까지
print(title[4:6]) # 4인덱스부터 6인덱스 바로 앞까지

여행의 이유
여행의 이
여행의 이
여행의
이유

#### ○ Meta Character
\n   줄바꿈   
\t  탭문자

In [ ]:
print("줄을 바꿈\nTAB문자\t\\")

줄을 바꿈
TAB문자	\

#### ○ 문자열함수

In [3]:
message = "Hello"
print ( message.upper() ) # 대문자로 바꿈
print ( message.lower() ) # 소문자로 바꿈

HELLO
hello

In [ ]:
# 단, message변수의 내용을 바꾸는 것이 아니라, 새로운 것을 만들어서 반환하는 것임.
# 즉, message변수의 내용은 바뀌지 않았다.
print(message)

Hello

In [4]:
# message 변수의 내용을 변경하려면 다음과 같이 message 변수에  할당.
message = message.upper()
print(message)

HELLO

In [5]:
print ( message.count('L') ) # 특정문자('l') 갯수를 셈. 없으면 0
print ( message.index('L')  )# 특정문자('l') 가 위치한 인덱스, 단 없으면 에러.
print ( message.count('L',3 ))  # 특정문자('l') 갯수를 셈. 단 3인덱스 부터
print ( message.index('z')  ) # 특정문자('z') 가 위치한 인덱스. 단 없으면 에러.

2
2
1

ValueError: substring not found

In [7]:
message = " Hello LEEJI "
print ( message )
print ( message.strip() ) # 좌우 공백제거
print ( message.replace("LEEJI","KIMJI") ) #문자열 변경

print ( message.split(' ') )
data = "99:10:11"
print ( data.split(':') ) # 스플릿 기준이 되는 문자는 결과 포함되 않음

 Hello LEEJI
Hello LEEJI
 Hello KIMJI
['', 'Hello', 'LEEJI', '']
['99', '10', '11']

#### ○ 불린 데이터타입

In [ ]:
answer = True
print(answer)
answer = False
print(answer)
answer = (10 == 10)
print(answer)
answer = (10 != 10)
print(answer)
print( type(answer) )  # 데이터 타입 확인

### [ 키보드 입력 ]

In [8]:
name = input("이름을 입력하세요\n")

이름을 입력하세요
 홍길동

In [9]:
english_score = input("영어 점수를 입력하세요\n")

영어 점수를 입력하세요
 100

In [10]:
science_score = input("과학 점수를 입력하세요\n")

과학 점수를 입력하세요
 80

In [11]:
math_score = input("수학 점수를 입력하세요\n")

수학 점수를 입력하세요
 30

In [15]:
print(name)
print(english_score)
print(science_score)
print(math_score)

홍길동
100
80
30

### [ 데이터타입 변환 ]

#### ○ 숫자로 타입변환

In [ ]:
# 산술연산을 하려면 숫자 데이터타입으로 타입변환을 해야 함.

english_score = int (english_score)  # 정수로 타입 변환
science_score = float (science_score)# 실수로 타입 변환
math_score = float (math_score)# 실수로 타입 변환

avg = (english_score+science_score+math_score)/3
avg

#### ○ 문자열로 타입변환

In [ ]:
num = 10
print ( str(num) + "번" )

#### ○ 불린으로 타입변환

In [ ]:
print ( bool(num) )
print ( bool(0) , bool(-1)  )  #숫자 0만 False,  나머지 모두 True

### [ 출력 ]  
#### ○ 출력 포멧
%d   정수
%f   실수
%s   문자열

In [ ]:
# 출력 포멧 갯수와  % 뒤에 나오는 숫자(또는 문자)의 개수가 같아야 함
print(" 이름 : %s , 평균점수 : %f" % (name, avg  ))

In [ ]:
# %5s   -->  문자열을 5자리로 출력
# %5.2f -->  실수를 전체 5자리. 소수점이하 2자리로 출력
print(" 이름 : %5s , 평균점수 : %5.2f" % (name, avg  ))

In [ ]:
# {0:4s} --> 4자리 문자열, 0번째 데이터인(name)
# {1:5f} --> 전체 5자리 소수점이하 2자리 실수, 1번째 데이터인(avg)
message = "{0:4s}학생의 평균점수는 {1:5.2f} 입니다.".format(name,avg)
print(message)

# {1:4s} --> 4자리 문자열 1번째 데이터인(name)
# {0:5f} --> 전체 5자리 소수점이하 2자리 실수. 0번째 데이터인(avg)
message = "{1:4s}학생의 평균점수는 {0:5.2f} 입니다.".format(avg,name)
print(message)

In [ ]:
dash = "-"
print(dash * 50)  # 문자열 * 숫자 는 문자열을 숫자만큼 반복